{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if issearch %}
    <h1>Search results</h1>
    <ul>
        {% for entry in searchlist %}
        <li><a href="{% url 'article' title=entry %}">{{ entry }}</a></li>
        {% empty %}
        <li>Article not found</li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'article' title=entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}